<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Vence 4ª Edição</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jquery-ui.theme.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        li a {
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <label style="color:white;font-size:large;text-align:center; vertical-align:central;">Plano de contingência para liberação de pagamento da 3ª e 4ª edições do programa VENCE.</label>

        </div>
        <ul class="list-inline">
            <li>@Html.ActionLink("Cadastro", "Index", "Home")</li>
            <li>@Html.ActionLink("Inconsistência", "Index", "Inconsistencia")</li>
            <li>@Html.ActionLink("Consulta", "Index", "Consulta")</li>
            <li>@Html.ActionLink("Totalizador Estágio", "Index", "Estagio")</li>
            <li>@Html.ActionLink("Totalizador Carga Horária", "Index", "CargaHoraria")</li>
            <li>@Html.ActionLink("Acompanhamento de Frequência", "Index", "RelatAcompMensal")</li>
            @*<li>@Html.ActionLink("Relatório de Parcelas", "Index", "RelatParcelaFinal")</li>*@
            <li>@Html.ActionLink("Finalizar AES", "Finalizar", "Home")</li>

            <li>
                <a href="Content/Videos/VideoAulaCadastro.html" target="_blank">Tutorial</a>
            </li>
            <li>@Html.ActionLink("Help", "Help", "Home")</li>
            @*<li style="float:right; padding-right:30px;">@Html.ActionLink("SEE", "Index", "SEE")</li>*@
        </ul>

    </div>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/mask.js")
    @Scripts.Render("~/Content/jquery-ui.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @RenderSection("scripts", required: false)
</body>
</html>