@model Vence.Input4Edicao.Models.ControleEstagioVM

@if (Model != null)
{    
    @*<fieldset>
        <legend>Resultado</legend>*@        
        <div id="resultado" style="overflow-y: auto; height:340px">
            @if (Model.ListaEstagios.Count > 0)
            {
                <table id="tabelaDados" class="tabela" width="99%">
                    <thead>
                        <tr>
                            <td width="170px">Mantida</td>
                            <td width="80px">Numeros AES</td>
                            <td width="120px">Curso</td>
                            <td width="60px">Matricula</td>
                            <td width="170px">Aluno</td>
                            <td width="80px">Total Horas Estágio</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaEstagios)
                        {
                            <tr>
                                <td>@item.NomeMantida</td>
                                <td>@item.NumeroAES</td>
                                <td>@item.NomeCurso</td>
                                <td>@item.IdMatricula</td>
                                <td>@item.NomeAluno</td>
                                <td>@item.TotalHoraEstagio</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <label id="labelgrid">Não há registros para a pesquisa realizda.</label>
            }            
        </div>
@*</fieldset>*@
}
